:root{
    --dark-blue: #183062;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Poppins", sans-serif;
}

body{
    background: linear-gradient(to left top, var(--dark-blue), #000000);
    background-attachment: fixed;
}
/* ----------Commun à toutes les pages ---------- */

h1{
    text-align: center;
    margin: 15px;
}
/* Les input et les selects */
input, select{
    width: 200px;
    height: 45px;
    border-radius: 10px;
    padding: 2px;
    color: var(--dark-blue);  
}

input:hover{
    color:#ffffff;
    background: #919191;
    cursor: pointer;
}

li{
    padding: 15px;
    list-style-type: none;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: yellow;
}

option{
    color: var(--dark-blue);
}

/* Les formulaires d'ajouts */
.updateFilm, .addCasting, .addDirector, .addGenre, .addActor{
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to left top,#892F2C, #081530);
    border-radius: 10px;
    box-shadow: 20px 25px 15px rgb(17, 17, 17);
}

table{
    border-spacing: 5px;
}

/*---------- Barre de navigation ----------*/
nav{
    display: flex;
    align-items: center;
}


.navigation{
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.logo-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}


.cinema-button{
    background-color: rgba(137, 47, 44, 0.7);
    border-radius: 5px;
    padding: 5px;
}
/*---------- Landing Page ----------*/
.landing-page{
    max-height: 100vh;
}

.landing-page-title{
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 250px;
    left: 200px;
}

.h2{
    font-size: 30px;
    font-weight: 300;
}

.landing-page-image-container{
    width: 100%;
    height: auto;
}

.landing-page-image{
    max-height: 100vh;
    position: absolute;
    right: 0;
    top:0;
}

/* View Film (list) */

.lists-container{
    width: 80%;
    display: flex;
    justify-content:left;
    flex-wrap: wrap;
    margin-left :50px;
}
/* 
.viewFilm-img-container{
    position: relative;
} */

.viewFilm-img{
    max-width: 800px;
    position: fixed;
    bottom: 0;
    right: 0;
}

/* ---------- View details film ----------*/
.details-film-container{
    max-width: 1000px;
    height: 650px;
    background: linear-gradient(to left top,#892F2C, #081530);
    border-radius: 10px;
    display: grid;
    margin-left: 10%;
    padding: 15px;
    text-align: justify;
}


/* Contient les boutons */
.details-film-button{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/*---------- Page d'ajout d'un film ----------*/

.container-form{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addFilm{
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to left top,#892F2C, #081530);
    border-radius: 10px;
    box-shadow: 20px 25px 15px rgb(17, 17, 17);
    margin-top: 155px;
}

.image-viewAddFilm{
    height: 650px;
    position: fixed;
    bottom: 0;
    left: 25px;
}

.submit{
    color: var(--dark-blue);
    margin-top: 10px;
    cursor: pointer;
    
}

.button-input{
    display: flex;
    justify-content: center;
    margin: 15px;
}

.select{
    width: 200px;
    height: 45px;
    border-radius: 10px;
    padding: 2px;
    color: var(--dark-blue);
}

.form-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.button-film-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

/* ---------- Page d'ajout d'un casting ---------- */
.button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.button-casting{
    cursor: pointer;
}