:root{
    --dark-blue: #183062;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Poppins", sans-serif;
}

/*---------- Barre de navigation ----------*/
nav{
    display: flex;
    align-items: center;
}

body{
    background: linear-gradient(to left top, var(--dark-blue), #000000);
    background-attachment: fixed;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}

li{
    padding: 15px;
    list-style-type: none;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: yellow;
}

option{
    color: var(--dark-blue);
}

.film-button{
    background-color: rgba(137, 47, 44, 0.7);
    border-radius: 10px;
    padding: 5px;
}
/*---------- Landing Page ----------*/
.landing-page-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*---------- Page d'ajout d'un film ----------*/
.container-form{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addFilm{
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to left top,#892F2C, #081530);
    border-radius: 10px;
    box-shadow: 20px 25px 15px rgb(17, 17, 17);
    margin-top: 155px;
}

h1{
    text-align: center;
    margin: 15px;
}

input{
    width: 200px;
    height: 45px;
    border-radius: 10px;
    padding: 2px;
    color: var(--dark-blue);
}

.submit{
    color: var(--dark-blue);
    margin-top: 10px;
    cursor: pointer;
    
}

.button-input{
    display: flex;
    justify-content: center;
    margin: 15px;
}

.select{
    width: 200px;
    height: 45px;
    border-radius: 10px;
    padding: 2px;
    color: var(--dark-blue);
}
/* .checked {
    color: orange;
}

.stars-container{
    display: flex;
    flex-direction: row;
}

span{
    margin: 5px;
} */

.form-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

/* ---------- Page d'ajout d'un genre ---------- */
.addGenre{
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to left top,#892F2C, #081530);
    border-radius: 10px;
    color: white;
}

/* ---------- Page d'ajout d'un acteur ---------- */
.addActor{
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to left top,#892F2C, #081530);
    border-radius: 10px;
    color: white;
}

/* ---------- Page d'ajout d'un réalisateur ---------- */
.addDirector{
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to left top,#892F2C, #081530);
    border-radius: 10px;
    color: var(--dark-blue);
}

