:root{
    --dark-blue: #183062;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Poppins", sans-serif;
}

/*---------- Barre de navigation ----------*/
nav{
    display: flex;
    align-items: center;
}

body{
    background: linear-gradient(to left top, var(--dark-blue), #000000);
    background-attachment: fixed;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}

li{
    padding: 15px;
    list-style-type: none;
}

a{
    color: white;
    text-decoration: none;
}

option{
    color: var(--dark-blue);
}

/* Landing Page */
.landing-page-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*---------- Page d'ajout d'un film ----------*/

.addFilm{
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to left top,#892F2C, #081530);
    border-radius: 10px;
}

h1{
    text-align: center;
}

input{
    width: 200px;
    height: 45px;
    border-radius: 10px;
    padding: 2px;
}

.submit{
    color: var(--dark-blue);
    margin-top: 10px;
    cursor: pointer;
}

.checked {
    color: orange;
}

.stars-container{
    display: flex;
    flex-direction: row;
}

span{
    margin: 5px;
}

.form-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px;
    color: var(--dark-blue);
}

/* ---------- Page d'ajout d'un genre ---------- */
.addGenre{
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to left top,#892F2C, #081530);
    border-radius: 10px;
}

/* ---------- Page d'ajout d'un acteur ---------- */
.addActor{
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to left top,#892F2C, #081530);
    border-radius: 10px;
}

/* ---------- Page d'ajout d'un réalisateur ---------- */
.addDirector{
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to left top,#892F2C, #081530);
    border-radius: 10px;
}

