:root{
    --dark-blue: #183062;
    --yellow : #ffe70b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Poppins", sans-serif;
}

body{
    background: linear-gradient(to left top, var(--dark-blue), #000000);
    background-attachment: fixed;
}
/* ----------Commun à toutes les pages ----------------------------*/

h1{
    text-align: center;
    margin: 15px;
}

/* Les input et les selects */
input, select, textarea{
    width: 200px;
    height: 45px;
    border-radius: 10px;
    padding: 2px;
    color: var(--dark-blue);  
}

input:hover{
    color:#ffffff;
    background: #919191;
    cursor: pointer;
}

li{
    padding: 15px;
    list-style-type: none;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: var(--yellow);
}

option{
    color: var(--dark-blue);
}

img{
    border-radius: 10px;
}

p{
    text-align: center;
    margin: 15px;
}

table{
    border-spacing: 5px;
    z-index: 1;
    border-spacing: 0.7rem;
    text-align: center;
}
/*---------- Barre de navigation ---------------------------------------------------------*/
nav{
    display: block;
    align-items: center;
}


.navigation{
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.logo-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

/*---------- Landing Page -------------------------------------------------------------*/
.landing-page{
    max-height: 100vh;
}

.landing-page-title{
    font-size:35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 250px;
    left: 10%;
}

.h2{
    font-size: 25px;
    font-weight: 300;
}

.landing-page-image-container{
    width: 100%;
    height: auto;
}

.landing-page-image{
    height: 100vh;
    position: absolute;
    right: 0;
    top:0;
    display: block;
}

/* View Film (list) */
.lists-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.viewFilm-img{
    max-width: 800px;
    position: fixed;
    bottom: 0;
    right: 0;
}


/*---------- Les formulaires d'ajouts ---------------------------------------------------------*/
.updateFilm, .addCasting, .addDirector, .addGenre, .addActor{
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to left top,#892F2C, #081530);
    border-radius: 10px;
    box-shadow: 20px 25px 15px rgb(17, 17, 17);
    margin-top: 9%;
    position: fixed;
}


/* Les boutons des vues details */
.cinema-button{
    background-color: rgba(213, 213, 213, 0.7);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(17, 17, 17);
    margin: 5px;
}

.cinema-button:hover{
    background-color: #1b1b1b;
}

/*---------- La vue film : viewFilm ----------------------------------------------------------*/

/* Correspond à chaque affiche */
.img-film{
    border-radius: 10px;
    transition: 0.7s;
}
.img-film:hover{
    transform: translateY(-20px);
    transition: 0.7s;
}
/* Correspond à chaque titre de film */
.h3-film:hover{
    color: var(--yellow);
}

/* ---------- View details film : viewDetailFilm ------------------------------------------------*/
.details-film-container{
    max-width: 1000px;
    height: 650px;
    background: linear-gradient(to left top,#892F2C, #081530);
    border-radius: 10px;
    display: grid;
    margin-left: 25%;
    margin-top: 5%;
    padding: 15px;
    text-align: justify;
}


/* Contient les boutons */
.details-film-button{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/*---------- Page d'ajout d'un film ---------------------------*/
/* Contient les formulaire d'ajout */
.container-form{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addFilm{
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to left top,#892F2C, #081530);
    border-radius: 10px;
    box-shadow: 20px 25px 15px rgb(17, 17, 17);
    margin-top: 12%;
}

.image-viewAddFilm{
    height: 600px;
    position: fixed;
    bottom: 0;
    left: 10px;
}

.submit{
    color: var(--dark-blue);
    margin-top: 10px;
    cursor: pointer;
    
}

.button-input{
    display: flex;
    justify-content: center;
    margin: 15px;
}

.select{
    width: 200px;
    height: 45px;
    border-radius: 10px;
    padding: 2px;
    color: var(--dark-blue);
}
.select-p{
    font-size: 10px;
}

.select-genre{
    width: 200px;
    height: 90px;
    border-radius: 10px;
    padding: 2px;
    color: var(--dark-blue);
}

.form-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.button-film-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* ---------- Page d'ajout d'un casting ----------------------- */
.button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.button-casting{
    cursor: pointer;
}

/*---------- Détails genre ---------------------------------------*/

.viewDetailsGenre{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.details-genre-container{
    max-width: 500px;
    background-color: #892F2C;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    text-align: center;
    position: absolute;
    background: linear-gradient(to left top,#892F2C, #081530);
    border-radius: 10px;
    box-shadow: 20px 25px 15px rgb(17, 17, 17);
}

.details-genre-button-container{
    display: flex;
    justify-content: center;
    gap: 5px;
    position: relative;
}


/* -----------La page d'ajout d'un rôle-------------------------------------------------- */
.radio{
    width: 20px;
}

/* ---------- La vue Role ----------------------------------------------- */
.viewRole{
    display: flex;
    flex-direction: row;
}

.image-role-container{
    max-width: 100%;
    height: auto;
    display: flex;
}

.image-role{
    max-height: 100vh;
    position: absolute;
    right: 85px;
    top:0;
    display: block;
}

/*---------- La vue Acteur --------------------------------------------------*/
.viewActor{
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding-left: 5%;
}

/* L'image */
.actor-image{
    position: fixed;
    bottom: 0;
    right: 0;
}

.p-actor{
    text-align: left;
    padding-left: 5%;
}

/* ---------- La vue Director -----------------------------------------------*/
/* Contient la table director et la table genre */
.director-list-container{
    display: flex;
    justify-content: center;
    font-size: 20px;
}

